<h1><center>Sign up information</center></h1>

	<p><center><%= text_area_tag(:message, "Username", size: "19x1") %></center><p>
<p><center><%= password_field_tag(:password) %></center><p>
	<p><center><%= password_field_tag(:password_confirmation) %></center><p>
 


